.cheet{text-align: center;
    color:blue;
}
.search{text-align: center;
}
.ziad{text-align: center;
    font-size: xx-large;
    color:black

}
.mohamed{color:brown


}
.khalil{
background-color: blue;  
text-align: center;
font-size: xx-large;  
}
.ahmed{text-align: center;
    font-size: xx-large;

}
.want{color:indigo

}
.zeiad{color: darkblue;

}
.ahmed{text-align: center;
    font-size: xx-large;

}
.nyc{color:rgb(198, 169, 5)


}
.ls{text-align: center;

}
